<!DOCTYPE html>
<html>
<head>
<title>Go Reader</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<a href="https://github.com/emptyland/reader">
	<img style="position: absolute; top: 0; left: 0; border: 0; zoom: 0.7;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub">
</a>

<!-- Title -->
<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<span class="brand">//Go RSS Reader</span>
			<ul class="nav">
			<li class="brand" id="msgBoard">
				<!-- <span class="label label-info" id="msgOutput">Info</span> -->
			</li>
			</ul>

			<ul class="nav pull-right">
			<li>
			<div class="btn-group">
				<a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> {{.Email}}</a>
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{{.LogoutURL}}"><i class="icon-share-alt"></i> Logout</a></li>
					<li class="divider"></li>
				</ul>
			</div>
			</li>
			</ul>

		</div>
	</div>
</div>


<div class="container-fluid">
<div class="row-fluid">

	<div class="span3">
		<ul class="nav nav-list" id="rssList">
			<li><div class="input-append">
				<input class="span12" id="newRss" type="text">
				<button class="btn" type="button" onclick="onAddNewRss();" >Add</button>
			</div></li>
			<li class="nav-header">Title</li>
		</ul>
	</div>

	<div class="span7" id="rssContent">
	</div>

</div>
</div>

<script>
function toMsgBoard(cat, msg) {
	$("#msgOutput").remove();
	$("#msgBoard").append("<span class=\"label label-" + cat
		+ "\" id=\"msgOutput\">" + msg + "</span>");
}

function onSubReceived(data, status) {
	if (status != "success") {
		toMsgBoard("important", "Fetching fail!");
		return;
	}

	var rv = eval("(" + data + ")");
	$(".subBlock").remove(); // Clear all rss content
	var rssContent = $("#rssContent").get(0);
	for (var i = 0; i < rv.Item.length; ++i) {
		var item = rv.Item[i];
		var html = "<div class=\"subBlock\">";
		html += "<h3 class=\"text-left\"><a href=\"" + item.Link 
			+ "\" target=\"_blank\">" + item.Title + "</a></h3>";
		html += "<div class=\"subContext\">"
		if (item.Content == "")
			html += item.Description;
		else
			html += item.Content;
		html += "</div><hr />"
		$(rssContent).append(html);
	}
	toMsgBoard("success", "OK");
}

function onTitleClick(ctx) {
	$(".subTitle").attr("class", "subTitle");

	var target = ctx.currentTarget;
	target.setAttribute("class", "subTitle active");
	$.get("/get?title=" + $(target).text(), onSubReceived);
	toMsgBoard("info", "Fetching...")
}

function onAddNewRss() {
	var xmlUrl = $("#newRss").get(0).value;
	var ajax = new XMLHttpRequest();
	$.post("add?xmlUrl=" + xmlUrl, function (data, status) {
		if (status == "success") {
			var rv = eval("(" + ajax.responseText + ")");
			$("#rssList").append("<li class=\"subText\"><a href=\"#\">"
				+ rv.title + "</a></li>")
			toMsgBoard("success", "OK");
		} else {
			toMsgBoard("important", "Can not get this rss.");
		}
	});
	toMsgBoard("info", "Fetching...")
}

function listAllRss() {
	// Clear first
	$(".subTitle").remove();
	$.get("list", function (data, status) {
		if (status == "success") {
			var rv = eval("(" + data + ")");
			var rssList = $("#rssList");
			for (var i = 0; i < rv.length; ++i) {
				rssList.append("<li class=\"subTitle\"><a href=\"#\">"
					+ rv[i].title + "</a></li>");	
			}
			$(".subTitle").click(null, onTitleClick);
			$(".subTitle").first().attr("class", "subTitle active");
			$.get("/get?title=" + $(".subTitle").first().text(), onSubReceived);
		}
	});
}

listAllRss();

</script>
</body>
</html>